@mixin columnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-container {
    @include columnCenter();
    margin: 2rem;
    width: 30%;
    border: solid 1.5rem #02c39a;
    height: 75vh;
}

.user-info {
    @include columnCenter()
}

.user-info > h2 {
    font-size: 2.5rem;
}

span {
    font-weight: bolder;
}

.dog-btn > button {
    margin: 1rem;
    border-radius: 10px;
    height: 50px;
    width: 75px;
}

.pets {
    @include columnCenter();
    flex-wrap: wrap;
}

hr {
    width: 80%;
}