$btnColor: grey;
$btnText: white;
$btnActiveColor: black;

.nav-container {
  border-bottom: 0.12rem solid black;
  display: flex;
  height: 5rem;
  background-color: #8da5cc;
}

.logo {
  height: 5rem;
  width: 5rem;
  margin-right: 20rem;
  border-radius: 12rem;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.nav-button {
  text-decoration: none;
  color: $btnText;
  background-color: $btnColor;
  border-radius: 0.6rem;
  padding: 0.3rem;
  margin: 0rem 6rem;
} 
.nav-button::hover {
  background-color: $btnActiveColor
}
.nav-button::active {
  text-decoration: underline;
}

.links {
  background-color: #8da5cc;
}

