
.skill-container {
  display: flex;
  flex-direction: row;
}

.description {
  font-size: 1.5rem;
  margin: .8rem;
}

.video {
  margin: 5rem;
  box-shadow: .75em .75em 1.2em;
}

.training-btn {
  font-size: 2rem;
  height: 6rem;
  width: 12rem;
  margin-left: 5rem;
  border-radius: .8rem;
  background-color: #8da5cc;
  box-shadow: .5em .5em 1em;
}

.requirement {
  font-size: 2.5rem;
  background-color: #8da5cc;
}

.req-des {
  background-color: #8da5cc;
}

.skill-name {
  font-size: 2.5rem;
  background-color: #8da5cc;
}

.skill-title {
  margin: 0rem;
  font-size: 3rem;
  background-color: #8da5cc;
}

.skill-info {
  border: 2px solid black;
  border-radius: .8rem;
  padding: .8rem;
  margin: 1.2rem;
  background-color: #8da5cc;
  box-shadow: .4em .4em 1em;
}

.skill-level {
  background-color: #8da5cc;
}

.skill-des {
  background-color: #8da5cc;
}

.pass {
  border: 2px solid black;
  border-radius: .8rem;
  padding: .8rem;
  margin: 1.2rem;
  background-color: #8da5cc;
  box-shadow: .4em .4em 1em;
}

